
section#head {
    width: 100%;
}

section#head div#album-cover {
    display: inline-block;
    max-width: 20%;
    padding: 0% 2% 2% 0%;
}
section#head div#album-cover img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 7px;
    box-shadow: 0px 3px 10px #141414;
}

section#head div#info {
    display: inline-block;
    max-width: 80%;
    padding: 0% 2% 2% 0%;
    font-weight: bold;
    color: #F6F4F1;
}
section#head div#info p#type-title {
    line-height: 1.4;
    margin-bottom: 5%;
}
section#head div#info p#type-title span#type {
    text-transform: uppercase;
}
section#head div#info p#type-title span#title {
    font-family: GothamBlack;
    font-size: 3em;
}
section#head div#info div#artist-line {
    display: flex;
    align-items: center;
}
section#head div#info div#artist-line img {
    display: inline;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100%;
}

section#tracks {
    width: 100%;
}
section#tracks div {
    padding: 0.75%;
}
section#tracks div#table-header, section#tracks div.table-line {
    display: flex;
    align-items: center;
    max-width: 100%;
}
section#tracks div.table-line:hover {
    background-color: rgba(70, 70, 70, 0.7);
    border-radius: 10px;
}
section#tracks div.table-line:hover div.index button span {
    display: none;
}
section#tracks div.table-line:hover div.index button img {
    display: inline;
    width: 16px;
    height: 16px;
}
section#tracks div div.index {
    max-width: 10%;
    width: 10%;
}
section#tracks div div.index button {
    background: none;
    border: none;
}
section#tracks div div.index button img {
    display: none;
}
section#tracks div div.title {
    max-width: 40%;
    width: 40%;
}
section#tracks div div.title span {
    text-align: left;
}
section#tracks div div.duration {
    max-width: 30%;
    width: 30%;
}
section#tracks div div.duration span {
    text-align: right;
}
section#tracks div div.queue {
    max-width: 10%;
    width: 20%;
}
section#tracks div div.add-to-playlist {
    max-width: 10%;
    width: 20%;
}