
div#edit-playlist-menu {
    display: none;

    width: 30%;
    height: 50%;
    background-color: #282828;
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);

    position: absolute;
    z-index: 9999;
    top: 25%;
    left: 35%;

    padding: 1%;
    border-radius: 8px;
}

div#edit-playlist-menu input, div#edit-playlist-menu label, div#edit-playlist-menu button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 1%;

    background-color: #AFAFAF;
    border-radius: 4px;
    border: none;
    color: #060606;

    margin-bottom: 1%;
}

div#edit-playlist-menu input[type=file], div#edit-playlist-menu input[type=checkbox] {
    display: none;
}
div#edit-playlist-menu input[type=checkbox]:checked + label {
    background-color: #00B0B0;
}

div#edit-playlist-menu form {
    margin-bottom: 5%;
}