@font-face {
    font-family: "GothamBlack";
    src: url("../fonts/GothamBlack.otf") format("opentype");
}

@font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamBook.otf") format("opentype");
}

@font-face {
    font-family: "GothamLight";
    src: url("../fonts/GothamLight.otf") format("opentype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#container {
    max-width: 100%;
    width: 100%;
    min-height: 100vh;

    font-family: GothamBook, sans-serif;
    font-size: 0.8em;
    color: #060606;
}

div#container img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

div#container div {
    max-width: 100%;
    padding: 2%;
}

section {
    max-width: 40%;
    margin: auto;
    padding: 1%;

    background-color: rgba(42, 42, 42, 0.8);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

section h2, section h3 {
    font-family: GothamBlack, sans-serif;
    font-size: 5em;
    color: #F6F4F1;
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 5%;
}
section h3 {
    font-size: 1em;
}

input, label, select, option {
    max-width: 100%;
    width: 100%;

    box-sizing: border-box;
    border-radius: 4px;
    padding: 2% 1%;

    outline: none;
    border: none;

    background-color: rgba(168, 168, 168, 0.4);

    color: #AFAFAF;
}
label {
    display: block;
}

input[type=button], input[type=submit] {
    background-color: rgba(6, 6, 6, 0.4);
    border-radius: 12px;
    text-transform: uppercase;
}

input[type=file] {
    display: none;
}

div.error p {
    line-height: 1.5;
}

hr {
    height: 1px;
    background-color: rgba(6, 6, 6, 0.4);
    border: none;
}

div.redirect p {
    line-height: 1.5;
}

div.redirect p a:link, div.redirect p a:active, div.redirect p a:hover {
    color: #00B0B0;
}
div.redirect p a:active {
    color: #060606;
}


/*
.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(darkgray, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid darkgray;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid white;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid white;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: darkgray;
    color: gray();
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: darkgray;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}
*/