
@font-face {
    font-family: "GothamBlack";
    src: url("../fonts/GothamBlack.otf") format("opentype");
}

@font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamBook.otf") format("opentype");
}

@font-face {
    font-family: "GothamLight";
    src: url("../fonts/GothamLight.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    color: #AFAFAF;
    font-family: GothamBook, sans-serif;
    font-size: 0.8em;

    margin: 0 auto;
}

section#center {
    height: 78%;

    padding: 1%;

    background-color: #141414;

    overflow: scroll;
    scrollbar-width: none;
}
section#center::-webkit-scrollbar {
    display: none;
}
