
section#head {
    width: 100%;
}

section#head div#playlist-cover {
    display: inline-block;
    max-width: 18%;
    padding: 0% 2% 2% 0%;
}
section#head div#playlist-cover img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 7px;
    box-shadow: 0px 3px 10px #141414;
    cursor: pointer;

    transition: all 0.15s ease-in-out;
}
section#head div#playlist-cover img:hover {
    box-shadow: 0px 3px 15px #282828;
}
section#head div#playlist-cover img:active {
    box-shadow: 0px 3px 10px #141414;
}

section#head div#info {
    display: inline-block;
    max-width: 85%;
    padding: 0% 2% 2% 0%;
    font-weight: bold;
    color: #F6F4F1;
}
section#head div#info p#type-title {
    line-height: 1.4;
    margin-bottom: 3%;
}
section#head div#info p#type-title span#type {
    text-transform: uppercase;
}
section#head div#info p#type-title span#title {
    font-family: GothamBlack;
    font-size: 4em;
    cursor: pointer;
}

section#head div#info div#user-line {
    display: flex;
    align-items: center;
}
section#head div#info div#user-line img {
    display: inline;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}
section#head div#info div#user-line span#info-part1 {
    color: #F6F4F1;
}
section#head div#info div#user-line span#info-part1 span#host-alias:hover {
    text-decoration: underline;
    cursor: pointer;
}
section#head div#info div#user-line span#info-part2 {
    color: #AFAFAF;
}
section#head div#info div#buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2%;
}
section#head div#info div#buttons button {
    margin-right: 2%;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    width: 10%;
    background-color: #AFAFAF;
}
section#head div#info div#buttons button img {
    display: inline;
    width: 18px;
    height: 18px;
}


section#tracks {
    width: 100%;
}
section#tracks div#table-header .order-change {
    cursor: pointer;
}
section#tracks div {
    padding: 0.3%;
}
section#tracks div#table-header {
    text-transform: uppercase;
}
section#tracks div#table-header, section#tracks div.table-line {
    display: flex;
    align-items: center;
    max-width: 100%;
}
section#tracks hr {
    color: #AFAFAF;
}



section#tracks div.table-line:hover {
    background-color: rgba(70, 70, 70, 0.7);
    border-radius: 10px;
}section#tracks div.table-line:hover span.track-artist {
     color: #F6F4F1;
 }
section#tracks div.table-line:hover div.options {
    display: flex;
}
section#tracks div.table-line:hover div.index button span {
    display: none;
}
section#tracks div.table-line:hover div.index button img {
    display: inline;
    width: 16px;
    height: 16px;
}

section#tracks div div.index {
    max-width: 3%;
    width: 3%;
    color: #AFAFAF;
}
section#tracks div div.index span {
    color: #AFAFAF;
}
section#tracks div div.index button {
    background: none;
    border: none;
}
section#tracks div div.index button img {
    display: none;
}


section#tracks div div.title-artists {
    display: flex;
    align-items: center;
    max-width: 47%;
    width: 47%;
}
section#tracks div div.title-artists img {
    height: 100%;
    width: 36px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin-right: 3%;
    display: inline-block;
    float: left;
    cursor: pointer;
}
section#tracks div div.title-artists p {
    line-height: 1.4;
    text-align: left;
}
section#tracks div div.title-artists p span.track-title {
    color: #F6F4F1;
    font-weight: bold;
}
section#tracks div div.title-artists p span.track-artists {
    color: #AFAFAF;
}
section#tracks div div.title-artists p span.track-artists span.track-artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

section#tracks div div.album {
    display: flex;
    align-items: center;
    max-width: 30%;
    width: 30%;
}
section#tracks div.table-line div.album span:hover {
    text-decoration: underline;
    cursor: pointer;
}

section#tracks div div.added-by {
    display: flex;
    align-items: center;
    max-width: 20%;
    width: 20%;
}
section#tracks div div.added-by img {
    height: 100%;
    width: 28px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin-right: 3%;
    display: inline-block;
    border-radius: 100%;
    float: left;
    cursor: pointer;
}
section#tracks div.table-line div.added-by span:hover {
    text-decoration: underline;
    cursor: pointer;
}

section#tracks div div.date-added {
    display: flex;
    align-items: center;
    max-width: 10%;
    width: 10%;
}


section#tracks div div.duration {
    display: flex;
    justify-content: flex-end;
    max-width: 5%;
    width: 5%;
}
section#tracks div div.duration img {
    display: inline;
    width: 16px;
    height: 16px;
}
section#tracks div div.duration span {
    width: 100%;
    text-align: right;
}


section#tracks div div.options {
    align-items: center;
    justify-content: center;
    max-width: 5%;
    width: 5%;
    display: none;
}
section#tracks div div.options button {
    position: relative;
    background: none;
    border: none;
}
section#tracks div div.options button img {
    display: inline;
    width: 16px;
    height: 16px;
}
section#tracks div div.options button div.dropdown {
    display: none;
    right: 0;
    width: 175px;
    position: absolute;
    background-color: #282828;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);
    color: #F6F4F1;
    padding: 5px;
    z-index: 1;
}
section#tracks div div.options button div.dropdown div {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border-radius: 2px;
    font-family: GothamBlack, sans-serif;
}
section#tracks div div.options button div.dropdown div:hover {
    background-color: #AFAFAF;
}
section#tracks div div.options button:hover div.dropdown {
    display: block;
}